# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
.env/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Jupyter
.ipynb_checkpoints/

# Build / dist
build/
dist/
*.egg-info/

# VSCode / IDE
.vscode/
.idea/

# Mac/Linux temp
*.swp
*.swo

# Simulation outputs (if you add logs later)
sim/output/
sim/results/
